@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif, sans-serif;
  }

  .containerMain{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
  }

  .containerMain-title{
    font-size: 2.25rem;
    width: 675px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
  }

  .containerMain-imgSeperator{
    margin-bottom: 40px;
  }

  .containerMain_contArt{
    display: flex;
    flex-direction: column;
    gap: 44px;
  }

  .containerMain_contArt_article{
    display: flex;
    width: 750px;
    gap: 64px;
    align-items: center;
  }

  .containerMain_contArt_article_header-image{
    width: 160px;
    border-radius: 12px;
  }

  .containerMain_contArt_article_main-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 12px;
  }

  .containerMain_contArt_article_main-date{
    font-size: 0.875rem;
    font-weight: 400;
    color: #4D5562;
  }

  .author-info{
    text-align: center;
    font-size: 0.875;
    color: #374151;
  }